<%= paginator.render do -%>
  <nav role="navigation" aria-label="pager" class="flex items-center justify-between px-4 py-3 sm:px-6">
    <div class="flex flex-1 justify-between sm:hidden">
      <%= prev_page_tag unless current_page.first? %>
      <%= next_page_tag unless current_page.last? %>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= page_entries_info %></span>
        </p>
      </div>
      <div>
        <span class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px">
          <%= first_page_tag unless current_page.first? %>
          <%= prev_page_tag unless current_page.first? %>
          <% each_page do |page| -%>
            <% if page.display_tag? -%>
              <%= page_tag page %>
            <% elsif !page.was_truncated? -%>
              <%= gap_tag %>
            <% end -%>
          <% end -%>
          <%= next_page_tag unless current_page.last? %>
          <%= last_page_tag unless current_page.last? %>
        </span>
      </div>
    </div>
  </nav>
<% end -%> 